
.StartScreen,
.Numberbond {
  text-align: center;
}

.Game-title {
  height: 150px;
  padding: 20px;
  color: red;
  font-size: 5em;
}

.Game-intro {
  color: red;
  font-size: 2em;
}

.Score {
  color: darkred;
  margin-top: 50px;
  margin-right: 50px;
  padding: 5px;
  width: 80px;
  float: right;
  border-color: darkred;
  border: solid;
  border-radius: 10px;
  text-align: center;
}

.Timer {
  float: left;
  color: darkred;
  margin-top: 50px;
  margin-left: 50px;
  padding: 5px;
  width: 80px;
  border-color: darkred;
  border: solid;
  border-radius: 10px;
  text-align: center;
}

.Description {
  color: darkred;
  font-size: 1em;
}

.Numeric {
  font-size: 4em;
}


.Number {
  color: red;
  font-size: 20em;
}

.Answers {
}

.AnswerButton {
  color: red;
  font-size: 10em;
  margin: 5px;
  width: 20%;
  background-color: black;
  border: solid;
  border-color: red;
  border-radius: 60px;
  justify-content: center;
  text-align: center;
  display: inline-block;
}

.StartButton {
  color: red;
  font-size: 5em;
  padding: 10px;
  background-color: black;
  border: solid;
  border-color: red;
  border-radius: 30px;
}

.Footer {
  
  color: white;
  
  position: absolute;
  bottom: 0;
}

